@import (reference) "mongodb-compass/src/app/styles/index.less";

@compass-sidebar-secondary-text-color: @gray6;
@compass-sidebar-base-background-color: @grayDark2;
@compass-sidebar-active-background-color: @gray4;
@compass-sidebar-active-background-color: lighten(hsl(201, 11%, 41%), 10%);

@compass-sidebar-hover-background-color: @gray1;
@compass-sidebar-hover-background-color: lighten(hsl(204, 29%, 18%), 5%);

.connect-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 250px;
  background: @compass-sidebar-base-background-color;

  &-favorites {
    & .connect-sidebar-header {
      display: flex;
      align-items: center;
    }

    & .connect-sidebar-header-icon {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      width: 36px;
    }

    .connect-sidebar-header-label {
      flex: 1;
    }
  }

  &-connections {
    overflow-y: auto;
    height: 100%;
  }

  &-new-connection {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &-button {
      border: none;
      background: none;
      margin: 0;
      width: 100%;
      text-align: left;
    }

    &-is-active {
      background-color: @compass-sidebar-active-background-color;

      span {
        color: @pw;
        font-weight: bold;
        font-size: 14px;
        line-height: 12px;
        padding: 6px 0;
        text-transform: none;
      }
    }
  }

  &-header {
    padding: 9px 0;
    color: @pw;
    font-weight: bold;
    font-size: 14px;
    text-transform: none;

    i {
      margin: 0 9px;
      color: @pw;
    }

    &-recent {
      display: flex;
      justify-content: space-between;

      &:hover {
        div {
          visibility: visible;
        }
      }

      span {
        color: @pw;
        font-weight: bold;
        font-size: 14px;
        text-transform: none;
        padding-left: 0px;
      }

      &-clear {
        text-transform: none;
        visibility: hidden;
        text-decoration: underline;
        color: @pw;
        margin-right: 12px;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
      }
    }
  }

  &-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    padding-left: 0px;
    margin: 0px;

    &-item {
      padding: 6px 12px 6px 36px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      &:hover {
        background: @compass-sidebar-hover-background-color;
        color: @pw;

        .connect-sidebar-list-item-actions {
          visibility: visible;
          background: inherit;
        }

        i {
          visibility: visible;
        }
      }

      i {
        visibility: hidden;
        padding-top: 10px;
        flex-grow: 0;
        color: @pw;
        font-size: 16px;
      }

      &-is-active {
        background-color: @compass-sidebar-active-background-color;

        .connect-sidebar-list-item-actions {
          visibility: visible;
          background-color: inherit;
        }
      }

      &-details {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @pw;
        font-size: 14px;
        line-height: 1;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
      }

      &-last-used {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        color: @compass-sidebar-secondary-text-color;
        padding-bottom: 2px;
      }

      &-name {
        max-width: 150px;
        white-space: nowrap;
      }

      &-actions {
        flex-grow: 0;
        color: @pw !important;
        visibility: hidden;
      }

      button {
        font-size: 13px;
      }

      button:hover {
        text-decoration: none;
      }
    }
  }
}
