// Dependencies
@import './bootstrap.less';
@import './caret.less';
@import './buttons.less';
@import './react-select.less';
@import './zero-state.less';

@import './palette.less';
@import './fontawesome.less';
@import './fonts.less';
@import './mms-icons.less';

// Configuration
@import './palette.less';

@sidebar-width: 250px;

// Tweaks to bootstrap
@import './message-background.less';

/* Styles from previous internal-plugin app */
@import './modal-status-message.less';
@import './hadron-tooltip.less';
@import './info-sprinkle.less';
@import './option-selector.less';
@import './sortable-table.less';
@import './status-row.less';
@import './tab-nav-bar.less';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Akzidenz', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: @gray1;
  background-color: @gray8;
  -webkit-font-smoothing: antialiased;
}

.loading {
  &-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas: 'sidebar content';
    pointer-events: none;
  }

  &-sidebar {
    grid-area: 'sidebar';
    background: @grayDark2;
  }

  &-new-connection-button {
    height: 38px;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // Not in style vars, copied over from sidebar.module.less
    background-color: lighten(hsl(201, 11%, 41%), 10%);
  }

  &-content {
    grid-area: 'content';
    background-color: @gray8;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#application {
  // This animatin will happen when #application container is populated
  & > div {
    animation-name: fadein;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  #statusbar {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;

    .progress {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      height: 4px;
      z-index: 2000;
      border-radius: 0;
      transition: height 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

      .progress-bar {
        background-color: #6ba442;
      }
    }
  }
}

* {
  user-select: text;
  -webkit-user-select: text;
  outline-color: #019EE2;
}
// disable highlighting for most of the schema and document viewers
.schema-field-list *,
.document-list * {
  user-select: none;
  -webkit-user-select: none;
}
// re-enable field names and individual documents
.schema-field-name > span,
.document-property-body * {
  user-select: text;
  -webkit-user-select: text;
}

// make all help buttons consistent
i.help,
i.syntax-help {
  .fa-icon();
  margin: 0 5px;
  cursor: pointer;
  color: @gray5;

  &:hover {
    color: @alertOrange;
  }
  &:before {
    content: @fa-var-info-circle;
  }
}

.input-group.has-error {
  i.syntax-help {
    color: #a94442; // same color as bootstrap validation error borders
  }
}

//action-bar, just a drop-shadow for now but should think about where to put these styles eventually
.action-bar {
  height: 32px;
  background: @gray8;
  border-bottom: 1px solid @gray7;
  padding-top: 4px;
  padding-left: 15px;
}
