@import (reference) "mongodb-compass/src/app/styles/index.less";

@compass-sidebar-default-text-color: @gray5;
@compass-sidebar-base-background-color: @grayDark2;
@compass-sidebar-search-background-color: @gray1;
@compass-sidebar-search-background-color: lighten(hsl(204, 29%, 18%), 5%);
@compass-sidebar-button-create-database: @gray1;
@compass-sidebar-button-create-database: lighten(hsl(204, 29%, 18%), 5%);
@compass-sidebar-hover-background-color: @gray1;
@compass-sidebar-hover-background-color: lighten(hsl(204, 29%, 18%), 5%);

.compass-sidebar {
  background: @compass-sidebar-base-background-color;
  color: @pw;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  height: 100%;
  max-width: 90%;
  position: relative;

  &-toggle {
    position: absolute;
    right: -14px;
    width: 14px;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    top: 4px;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
    &:hover, &:focus {
      border-left: 0;
    }
  }

  &-properties,
  &-filter,
  &-content {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  /* Style for the sidebar filter */

  &-filter {
    position: relative;
    box-shadow: 0px 2px 2px rgba(0,0,0,.3);
    z-index: 2;
  }

  &-search-icon {
    position: absolute;
    top: 8px;
    left: 11px;
    color: @pw;
    cursor: pointer;
  }

  &-search-input {
    padding: 7px 5px 5px 36px;
    height: auto;
    background: @compass-sidebar-search-background-color;
    color: @pw;
    width: 100%;
    border: none;
    font-size: 14px;
    font-family: "Akzidenz", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    outline: none;
  }

  &-search-input::-webkit-input-placeholder {
    color: @compass-sidebar-default-text-color;
    transition: color 180ms ease-out;
  }
  &-search-input:focus::-webkit-input-placeholder {
    color: @pw;
  }

  &-content {
    flex: 1;
    overflow: hidden;
  }

  *::-webkit-scrollbar-track {
    background-color: none;
    &:hover {
      background-color: rgba(0,0,0,.16);
    }
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.25);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Styles for the big create database button at the bottom */

  &-button-create-database-container {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 10px;
    z-index: 2;
    position: relative;
  }

  &-button-create-database {
    background: @compass-sidebar-button-create-database;
    border-radius: 14px;
    border: 0;
    color: @pw;
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    width: 28px;
    margin: 0 auto;
    overflow: hidden;
    text-transform: uppercase;
    transition: all 180ms ease;
    text-align: center;
    padding: 0;

    .plus-button {
      opacity: 0;
      transition: all 180ms ease;
      display: inline-block;
    }

    i {
      line-height: inherit !important;
    }
  }

  &-button-create-database:hover {
    width: 100%;
    background: @compass-sidebar-hover-background-color;
  }

  &-button-create-database:hover {
    .plus-button {
      opacity: 1;
    }
  }

  &-button-create-database.compass-sidebar-button-is-disabled {
    background: fade(@compass-sidebar-button-create-database, 0.4);
    opacity: 0.4;
    color: fade(@pw, 40%);
    cursor: not-allowed;
  }
}

.compass-sidebar-collapsed {
  .compass-sidebar-toggle {
    left: 36px;
  }

  .compass-sidebar-item,
  .compass-sidebar-property-column,
  .compass-sidebar-instance-hostname,
  .compass-sidebar-instance-version,
  .compass-sidebar-instance-ssh-tunnel {
    display: none;
  }

  .compass-sidebar-content {
    visibility: hidden;
  }

  .compass-sidebar-instance {
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .compass-sidebar-properties {
    padding-bottom: 0;
  }

  .compass-sidebar-stats {
    padding-top: 6px;
    padding-bottom: 0;
    height: 36px;
    margin: 0;
  }

  &-refresh-button {
    &:hover {
      background: transparent;
    }
  }

  .compass-sidebar-filter {
    box-shadow: none;
  }

  .compass-sidebar-search-input {
    width: 30px;
    padding: 11px 6px 5px 30px;
    background: transparent;
  }

  .compass-sidebar-search-icon {
    top: 10px;
    color: @pw;
  }

  .compass-sidebar-button-create-database-container {
    padding: 0 0 10px 0;
    background: transparent;
    box-shadow: none;
  }

  .compass-sidebar-button-create-database:hover {
    width: 28px;
  }

  .compass-sidebar-button-create-database:hover {
    .plus-button {
      opacity: 0;
    }
  }
}

// Disable the blue (macOS) or orange (RedHat/Ubuntu/Windows) focus outline
.compass-sidebar-autosizer-list:focus {
  outline: 0;
}

:global {
  .ReactVirtualized__Grid__innerScrollContainer {
    position: static !important;
  }
}
