.home-view {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;

  &-page {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    height: 100%;
    z-index: 0;
    overflow: auto;

    &-content {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 600px;
      order: 2;
      overflow-x: hidden;
    }
  }
}

